<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Emails</title>
</head>
<body>
    <div id="app">
        <h1>Lista di indirizzi email casuali</h1>
        <ul v-if="userEmails.length === 10">
            <li v-for="(email, index) in userEmails" :key="index">
                {{ email }}
            </li>
        </ul>
        <p v-else>Sto caricando gli indirizzi email...</p>
    </div>

    <!-- Includi Vue 3 e Axios -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>




